@font-face {
    font-family: "Sancreek";
    src: url(./font/Sancreek-Regular.ttf);
}

body {
    font-family: "Sancreek";
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('img/epl_background.png');
    color: #352522;
}

/* h1 {
    font-size: 64px;
    margin: 0;
    padding: 190px 0 100px 0;
} */

/* body::-webkit-scrollbar {
    display: none;
} */

canvas {
    display: block;
    background-color: black;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
}

.fullscreen {
    width: 100dvw;
    height: 100dvh;
    background-color: #000000f0;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.d-none {
    display: none;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}