@font-face {
    font-family: "Sancreek";
    src: url(./font/Sancreek-Regular.ttf);
}

@font-face {
    font-family: "Boogaloo";
    src: url(./font/Boogaloo-Regular.ttf);
}

body {
    font-family: "Sancreek";
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('img/epl_background_2.png');
    color: #352522;
}

h1 {
    font-size: 64px;
    margin: 0;
    padding: 120px 0 40px 0;
}

body::-webkit-scrollbar {
    display: none;
}

canvas {
    display: block;
    background-color: rgba(53, 37, 34, 0.1);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
}

.game-container {
    display: flex;
    justify-content: end;
    position: relative;
    background: transparent;
}

.fullscreen {
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: transparent;
}

.d-none {
    display: none !important;
}

button {
    font-family: "Boogaloo";
    cursor: pointer;
    background: transparent;
    border: none;
}

p {
    font-family: "Boogaloo";
    margin: 4px;
}

h2 {
    color: #f4d6bc;
}

h3 {
    margin: 32px 0 8px 0;
}

.wood-btn {
    background-image: url(img/wood-btn.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 15px 30px;
    font-size: 18px;
    font-family: "Sancreek";
    border: none;
    min-width: 160px;
}

.wood-btn:hover {
    transform: scale(1.05);
}

.landingscreen {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(53, 37, 34, 0.8);
}

.btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(img/wood-btn-round.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-family: Arial;
    font-weight: 100;
    margin: 6px;
}

.btn:hover {
    cursor: pointer;
}

.btn img {
    width: 32px;
    height: 32px;
}

.wrapper-btns-left {
    display: flex;
}

.wrapper-btns-right {
    display: flex;
}


.action-btns {
    display: flex;
    flex-direction: column;
    width: calc((100% - 720px) / 2);
}

.mobile-btns {
    display: flex;
    justify-content: space-evenly;
    left: 0;
    top: 190px;
    position: fixed;
    width: 100vw;
    margin: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 80px);
    height: calc(100% - 32px);
    z-index: 1;
    background-image: url(img/overlay_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #352522;
    color: #fff;
    padding: 16px 40px;
    overflow-y: scroll;
}

.overlay-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.close-btn {
    background-color: transparent;
    font-size: 30px;
    color: #fff;
}

a {
    color: #eea86b;
}

.game-explanation {
    display: flex;
    flex-direction: column;
}

table {
    width: 400px;
    font-family: "Boogaloo";
}

table img {
    width: 32px;
    height: 32px;
}

.table-img {
    display: flex;
    align-items: center;
}

#game-btns {
    opacity: 0;
    position: absolute;
    width: 200px;
    height: 56px;
    bottom: 2px;
    left: 250px;
}

#game-btns:hover {
    opacity: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(53, 37, 34, 0.6);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
}

.game-btns img {
    width: 32px;
    height: 32px;
}

.won-img {
    height: 300px;
}

.gameover-img {
    height: 200px;
    padding-top: 64px;
}

.lost-img {
    height: 260px;
}

/* .game-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    padding: 40px;
} */

.leave-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.game-result-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.overlay-bg {
    background-image: url(img/overlay_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #352522;

}



@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}