@font-face {
    font-family: "Sancreek";
    src: url(./font/Sancreek-Regular.ttf);
}

@font-face {
    font-family: "Boogaloo";
    src: url(./font/Boogaloo-Regular.ttf);
}

body {
    font-family: "Sancreek";
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('img/epl_background_2.png');
    background-attachment: fixed; /* for iOS */
    color: #352522;
    overflow-x: hidden;
}

h1 {
    font-size: 64px;
    margin: 0;
    padding: 40px 0;
}

canvas {
    display: block;
    background-color: rgba(53, 37, 34, 0.1);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
    aspect-ratio: 720 / 480;
    max-width: 100%;
    max-height: 100vh;
    width: 720px;
    height: auto;
}

.game-container {
    display: flex;
    justify-content: end;
    position: relative;
    background: transparent;
}

.fullscreen {
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: transparent;
}

.d-none {
    display: none !important;
}

button {
    font-family: "Boogaloo";
    cursor: pointer;
    background: transparent;
    border: none;
}

p {
    font-family: "Boogaloo";
    margin: 4px;
}

h2 {
    color: #f4d6bc;
}

h3 {
    margin: 32px 0 8px 0;
}

.wood-btn {
    background-image: url(img/wood-btn.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 15px 30px;
    font-size: 18px;
    font-family: "Sancreek";
    border: none;
    min-width: 160px;
}

.wood-btn-secondary {
    background-image: url(img/wood-btn.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 15px 30px;
    font-size: 18px;
    font-family: "Sancreek";
    border: none;
    min-width: 160px;
    filter: brightness(0.9);
}

.wood-btn:hover {
    transform: scale(1.05);
}

.landingscreen {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(53, 37, 34, 0.8);
}

.btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(img/wood-btn-round.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-family: Arial;
    font-weight: 100;
    margin: 6px;
}

.btn:hover {
    cursor: pointer;
}

.btn img {
    width: 32px;
    height: 32px;
}

.wrapper-btns {
    display: flex;
}


.action-btns {
    display: flex;
    flex-direction: column;
    width: calc((100% - 720px) / 2);
}

#mobile-btns {
    display: none;
    justify-content: space-evenly;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100vw;
    margin: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 80px);
    height: calc(100% - 32px);
    z-index: 1;
    background-image: url(img/overlay_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #352522;
    color: #fff;
    padding: 16px 40px;
    overflow-y: auto;
}

.overlay-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.close-btn {
    background-color: transparent;
    font-size: 30px;
    color: #fff;
}

a {
    color: #eea86b;
}

.game-explanation {
    display: flex;
    flex-direction: column;
}

table {
    width: 400px;
    font-family: "Boogaloo";
}

table img {
    width: 32px;
    height: 32px;
}

.table-img {
    display: flex;
    align-items: center;
}

#game-btns {
    position: absolute;
    width: 40px;
    height: 80px;
    right: 16px;
    top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.game-btns img {
    width: 24px;
    height: 24px;
}

.won-img {
    min-height: 200px;
    max-height: 300px;
}

.gameover-img {
    height: 200px;
    padding-top: 64px;
}

.lost-img {
    height: 230px;
}

.lossreason {
    color: #ffc71e;
    font-size: 26px;
}

.exit-bg {
    background-image: url(img/exitscreen.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center !important;
    align-items: flex-end !important;
    gap: 64px;
}

.exitquestion {
    color: #ffc71e;
    font-size: 64px;
    text-align: center;
}

.question-header {
    width: 400px;
}

.exit-options {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 400px;
}

.leave-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.game-result-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.overlay-bg {
    background-image: url(img/overlay_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #352522;
}

.intro-bg {
    background-image: url(img/introscreen.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #352522;
}

.intro-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 25px;
}

#portrait-mode {
    display: none;
}

.mobile-rotate {
    width: 72px;
    height: 72px;
}

.rotate-text {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 30px;
    padding: 0 16px;
}

@media screen and (orientation: portrait) and (pointer: coarse) and (hover: none) {
    #portrait-mode {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        color: #fff;
        font-size: 24px;
        z-index: 2;
    }

    h1,
    .game-container,
    #game-btns,
    .landingscreen,
    .overlay,
    .game-result-overlay {
        display: none !important;
    }
}

@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 48px;
        padding: 20px 0;
    }
}

@media (pointer: coarse) and (hover: none){
    #mobile-btns {
        display: flex;
    }

    #mobile-btns img,
        #mobile-btns button,
        .btn {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;
    }
}

@media only screen and (max-width: 900px) {
    canvas {
        width: 100%;
        height: auto !important;
    }

    h1 {
        display: none;
    }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
    body {
        justify-content: center;
        overflow: hidden;
    }

    h1 {
        display: none;
    }

    canvas {
        width: auto;
        height: 100vh;
    }
}

@media only screen and (max-height: 600px) {
    h1 {
        display: none;
        }

    body {
        justify-content: center;
    }

    .wood-btn {
        min-width: 120px;
        font-size: 16px;
        padding: 10px 16px;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
        width: auto;
    }

}

@media only screen and (max-width: 600px) {
    .wood-btn {
        min-width: 120px;
        font-size: 16px;
        padding: 10px 16px;
    }
}